@use '../base/mixin' as *;
@use '../base/variables' as *;

body.sheet-open {
  overflow: hidden;
}

.bottom-sheet {
  position: fixed;
  @include flex(flex-end, center);
  inset: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  contain: layout style paint;
  backface-visibility: hidden;
  &.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  &.is-open &__content {
    transform: translate3d(0, 0, 0);
  }
  &.is-closing {
    opacity: 0;
    visibility: hidden;
  }
  &.is-closing &__content {
    transform: translate3d(0, 100%, 0);
  }
  &__dim {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
  }
  &__content {
    position: relative;
    @include flex-col;
    gap: 16px;
    width: 100%;
    max-width: 720px;
    max-height: 64dvh;
    background: #fff;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.3s ease;
    @include tablet {
      max-width: 100%;
    }
  }
  &__indicator {
    @include flex;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: 32px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 40px;
      height: 4px;
      border-radius: 99px;
      background-color: $grayscale-200;
      transform: translate(-50%, -50%);
    }
  }
  &__header {
    @include flex(center, space-between);
    padding-bottom: 8px;
    margin: 0 24px;
    border-bottom: 1px solid $gray-30;
  }
  &__title {
    color: $gray-80;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
  }
  &__subtitle {
    margin: 16px 0 8px;
    color: $grayscale-900;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  &__body {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 0 24px;
  }
  &__section {
    & + .bottom-sheet__section {
      margin-top: 16px;
    }
  }
  &__footer {
    display: flex;
    padding: 8px 16px;
    gap: 6px;
    &--no-padding {
      padding: 0;
    }
    .btn {
      flex: 1;
    }
  }
}