@use '../base/mixin' as *;
@use '../base/variables' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 48px;
  padding: 14px 24px;
  border-radius: 6px;
  color: $white;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  &:disabled{ 
    cursor: default;
  }
  // size
  &--sm {
    width: fit-content;
    height: 28px;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
  &--md {
    width: fit-content;
    height: 33px;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }
  &--lg {
    width: fit-content;
    height: 44px;
    padding: 12px 20px; 
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  &--block {
    width: 100%;
  }
  // style
  &--primary {
    background-color: $gray-90; 
  }
  &--line {
    background-color: $white;
    border: 1px solid $gray-80;
    color: $gray-80;
  }
  &--secondary {
    border-color: $gray-30;
  }
  &--text {
    width: auto;
    height: auto;
    padding: 0;
    border-radius: 0;
    color: $grayscale-800;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  &--underline {
    text-decoration: underline;
  }
  &.is-bold {
    font-weight: 600;
  }
}

// wrap
.cta {
  @include action-group;
  @include tablet {
    &--px-16 {
      padding: 0 16px;
    }
    &--px-24 {
      padding: 0 24px;
    }
  }  
  &--stack {
    @include action-group-stack;
  }
  &--fixed {
    @include tablet {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 8px 16px;
      padding-bottom: calc(8px + env(safe-area-inset-bottom));
      background-color: $white;
      z-index: 1;
    }
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  @include tablet {
    gap: 8px;
    margin-top: 0;
  }
  .btn {
    flex: 1;
    max-width: 326px;
    @include tablet {
      max-width: 100%;
    }
  }
  &--fixed {
    @include tablet {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 8px 16px;
      padding-bottom: calc(8px + env(safe-area-inset-bottom));
      background-color: $white;
      z-index: 1;
    }
  }
}

.btn-group {
  @include action-group;
  &--stack {
    @include action-group-stack;
  }
  &--grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    .btn {
      width: 100%;
    }
  }
  &--grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    .btn {
      width: 100%;
    }
  }
  &--grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    .btn {
      width: 100%;
    }
  }
}

.btn-sns {
  padding: 0;
  & + .btn-sns {
    margin-left: 24px;
  }
  &__icon {
    display: block;
    width: 60px;
    height: 60px;
  }
  &--naver {
    @include bgimage('icon_naver','svg');
  }
  &--kakao {
    @include bgimage('icon_kakao','svg')
  }
}

.btn-link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: $gray-80;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.14px;
  &::after {
    @include before_after;
    width: 16px;
    height: 16px;
    @include bgimage('icon_chevron_right_16', 'svg');
  }
  @include tablet {
    gap: 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
  }
  &--delete {
    &::after {
      @include bgimage('icon_delete_16', 'svg');
    }
  }
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  // background: $white;
  cursor: pointer;
  &__icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &--sm {
    width: 16px;
    height: 16px;
    .btn-icon__icon {
      width: 16px;
      height: 16px;
    }
  }
  &--back .btn-icon__icon {
    @include bgimage('icon_chevron_left_24', 'svg');
  }
  &--next .btn-icon__icon {
    @include bgimage('icon_chevron_right_16', 'svg');
  }
  &--close .btn-icon__icon {
    @include bgimage('icon_close', 'svg');
  }
  &--cart .btn-icon__icon {
    @include bgimage('icon_cart_24', 'svg');
  }
  &--filter .btn-icon__icon {
    @include bgimage('icon_filter', 'svg');
  }
  &--sheet-close .btn-icon__icon {
    @include bgimage('icon_sheet_close', 'svg');
  }
  &--delete .btn-icon__icon {
    @include bgimage('icon_delete', 'svg');
  }
}

.btn-cart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 16px; 
  border-radius: 4px;
  border: 1px solid $gray-30;
  background: $white;
  @include tablet {
    gap: 6px;
    padding: 5px 16px;
  }
  &__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    @include bgimage('icon_cart_20', 'svg');
    background-size: cover;
  }
  &__text {
    color: $gray-80;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.14px;
    @include tablet {
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0;
    }
  }
}