@use '../base/mixin' as *;
@use '../base/variables' as *;

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  min-height: 100%;
  padding: 40px;
  border-radius: 6px;
  border: 1px solid $gray-30;
  @include tablet {
    padding: 24px;
    border-radius: 0;
    border: 0;
  }
  &--center {
    flex: 1;
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  &__icon--message {
    @include bgimage('icon_message', 'svg');
  }
  &__text {
    text-align: center;
    color: $gray-80;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    height: 32px;
    color: $gray-80;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    &::after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      @include bgimage('icon_chevron_right_16', 'svg');
    }
  }
}