@use '../base/mixin' as *;
@use '../base/variables' as *;

// 플로팅 버튼
.floating-btns {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

// ai-chat
.ai-chat {
  &.is-top {
    .ai-chat__btn {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  &__trigger {
    display: flex;
    align-items: center;
    gap: 10px;
    &:hover {
      .ai-chat__btn {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
  &__icon-wrap {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    box-shadow: 0 3.373px 26.981px -3.373px rgba(99, 140, 243, 0.32);
    img {      
      height: 100%;
      object-fit: cover;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      border-radius: 12px;
    }
  }
  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 33px;
    padding: 5px 16px 5px 12px;
    border-radius: 8px;
    background: #1C1F28;
    opacity: 0;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    transition: transform .2s ease-in-out, opacity .2s ease;
    @include tablet {
      box-shadow: 0 0 33.248px 5.479px #3E2487;
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: 2px;
      background: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);
      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }    
  }
  &__label {
    color: $white;
    font-size: 11px;
    font-weight: 500;
    line-height: 140%;
  }
  &__arrows {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 2px;
  }
  &__arrow {
    display: inline-block;
    width: 3px;
    height: 6px;
    @include bgimage('icon_ai_arrow', 'svg');
    opacity: 0.4;
    animation: arrow-wave 1.2s infinite;
    &:nth-child(1) { animation-delay: 0s; }
    &:nth-child(2) { animation-delay: 0.2s; }
    &:nth-child(3) { animation-delay: 0.4s;}
  }
}
@keyframes arrow-wave {
  0%, 100% { 
    opacity: 0.4;
  }
  50% { 
    opacity: 1;
  }
}
// ai-chat layer
.ai-chat-layer {
  position: fixed;
  inset: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transform: translateY(16px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0s linear 0.3s;
  @include tablet {
    padding: 40px 32px 0;
    // padding: 57px 24px 0;
    @include bgimage('bg_ai_chat', 'jpg');
    background-size: cover;
  }
  &.is-active {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0s linear 0s;
  }
  &__dim {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    @include tablet {
      display: none;
    }
  }
  &__header {
    @include flex(center, space-between);
    margin-bottom: 32px;
  }
  &__title {
    color: $white;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
  // 닫기
  &__close {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    padding: 0;
    @include bgimage('icon_delete_20_w', 'svg');
    background-size: cover;
    @include tablet {
      position: absolute;
      right: 16px;
      top: 16px;    
    }
  }
  &__panel {
    position: absolute;
    right: 68px;
    bottom: 68px;
    width: 652px;
    max-height: 804px;
    padding: 40px 40px 46px;
    @include bgimage('bg_ai_chat_pc', 'jpg');
    background-size: cover;
    @include tablet {
      position: relative;
      right: auto;
      bottom: auto;
      width: 100%;
      height: 100dvh;
      max-height: 100%;
      padding: 57px 24px 0;
      border-radius: 48px 48px 0 0;
      background: none;
      transform: translate(0, 0);
    }
    &::before {
      display: none;
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: 1px;
      background: linear-gradient(
        135deg,
        rgba(#fff, 0.05) 0%,    // 좌상단 흐리게
        rgba(#fff, 0.30) 50%,   // 우측으로 갈수록 진하게
        rgba(#fff, 0.45) 100%   // 하단 진하게
      );
      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      clip-path: inset(0 0 1px 0);
      pointer-events: none;
      z-index: 1;
      @include tablet {
        display: block;
      }
    }
  }
  
  //progress
  &__progress-wrap {
    @include flex-col;
    gap: 4px;
    margin-bottom: 16px;
  }
  &__progress-top {
    @include flex(center, space-between);
    gap: 4px;
  }
  &__progress-label {
    color: $white;
    font-family: 'Odibee Sans';
    font-size: 17px;
    font-weight: 400;
  }
  &__progress-value {
    color: $white;
    font-family: $font-en;
    font-size: 12px;
    font-weight: 500;
  }
  &__progress-bar {
    overflow: hidden;
    width: 100%;
    height: 4px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.28);
  }
  &__progress-fill {
    display: block;
    height: 100%;
    border-radius: 999px;
    background: $white;
  }

  // 채팅 목록
  &__messages {
    @include flex-col;
    gap: 12px;
    max-height: 202px;
    overflow-y: auto;
    &::-webkit-scrollbar { width: 4px; }
    &::-webkit-scrollbar-track { background: transparent; }
    &::-webkit-scrollbar-thumb {
      background: $white;
      border-radius: 99px;
      background-clip: padding-box;
    }
  }
  &__message {
    display: flex;
    &--ai {
      justify-content: flex-start;
    }
    &--user {
      justify-content: flex-end;
    }
  }
  &__bubble {
    max-width: 80%;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 150%;
    .ai-chat-layer__message--ai & {
      background: $white;
      color: $black;
    }
    .ai-chat-layer__message--user & {
      background: #278EFF;
      color: $white;
    }
  }

  //입력창
  &__input-wrap {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 48px;
    padding: 5px 16px;
    margin-top: 24px;
    border-radius: 8px;
    background: #1C1F28;
    box-shadow: 0 0 33.248px 5.479px #3E2487;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: 2px;
      background: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);
      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }
  }  
  &__input {
    flex: 1;
    width: 100%;
    padding: 0;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    outline: 0;
  }
  &__input-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-shrink: 0;
  }

  // 추천 상품
  &__products {
    overflow: hidden;
    margin-top: 32px;
    @include tablet {
      padding-top: 24px;
      border-top: 1px solid rgba($color: #D9D9D9, $alpha: 0.2);
    }
  }
  &__products-head {
    @include flex(center, space-between);
    margin-bottom: 16px;
    @include tablet {
      margin-bottom: 12px;
    }
    .btn-link {
      color: $white;
      &::after {
        @include bgimage('icon_chevron_right_16_w', 'svg');
      }
    }
  }
  &__products-title {
    color: $white;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
  }
  // 상품 없음
  .empty {
    @include tablet {
      padding: 80px 24px;
    }
    &__text {
      color: $white;
    }
    &__icon {
      &--message {
        @include bgimage('icon_chat_w', 'svg');
      }
    }
  }
  .product {
    padding-top: 0;
    .product-swiper {
      &__prev,
      &__next {
        top: 35%;
        transform: translateY(-35%);
      }
    }
  }
  &__product-list {
    @include tablet {
      @include flex-col;
      gap: 12px;
      max-height: calc(100dvh - 530px);
      overflow-y: auto;
      &::-webkit-scrollbar { width: 4px; }
      &::-webkit-scrollbar-track { background: transparent; }
      &::-webkit-scrollbar-thumb {
        background: $white;
        border-radius: 99px;
        background-clip: padding-box;
      }
    }
  }
  .product-card {
    &__link {
      @include flex-col;
      gap: 8px;
    }
    &__info {
      gap: 7px;
    }
    &__name {
      color: $white;
      font-size: 14px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -0.14px;
    }
    &__origin {
      .price {
        color: $white;
      }
    }
    &__percent {
      color: #35ED8C;
    }
    &__cost {
      .price {
        color: $white;
      }
    }
  }
  // mobile
  &__product-link {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__product-thumb {
    overflow: hidden;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }
  &__product-info {
    @include flex-col;
    color: $white;
  }
  &__product-brand {
    margin-bottom: 4px;
    color: $white;
    font-family: $font-en;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
  }
  &__product-name {
    margin-bottom: 2px;
    color: $white;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
  &__product-price {
    color: $white;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }
  &__product-discount {
    color: #35ED8C;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }
}

// top
#goTop {
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid $gray-30;
  background: $white;
  opacity: 0;
  visibility: hidden;
  transform: translateY(6px);
  transition: opacity .2s ease, transform .2s ease, visibility .2s ease;
  &.is-active {
    display: block;
  }
  &.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &::before {
    content: '';
    @include absolute-center;
    width: 24px;
    height: 24px;
    @include bgimage('icon_arrow_up', 'svg');
  }
}