@use '../base/mixin' as *;
@use '../base/variables' as *;

.radio {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  vertical-align: middle;
  & + .radio {
    margin-left: 12px;
  }
  &__input {
    @include inputhide;
    width: 24px;
    height: 24px;
    left: -9999em;
    cursor: pointer;
    &:checked {
      & + .radio__label {
        font-weight: 600;
        &::before {
          @include bgimage('icon_radio_checked','svg');
        }
      }
    }
  }
  &__label {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    gap: 4px;
    color: $gray-80;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    &::before {
      content: '';
      width: 24px;
      height: 24px;
      cursor: pointer;
      @include bgimage('icon_radio','svg');
    }
  }
}

// button type
.radio-btn {
  width: 100%;
  min-width: 0;

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 44px;
    padding: 8px 16px;
    border: 1px solid $gray-30;
    border-radius: 6px;
    background-color: $white;
    color: $gray-80;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.14px;
    text-align: center;
    cursor: pointer;
    @include tablet {
      padding: 8px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0;
    }
  }
  &__input {
    @include inputhide;
    cursor: pointer;
    &:checked + .radio-btn__label {
      border-color: $gray-80;
      background-color: $gray-80;
      color: $white;
      font-weight: 600;
    }
  }

  &--sm {
    .radio-btn__label {
      min-height: 33px;
      height: 33px;
      border-radius: 4px;
      font-size: 13px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.13px;
      @include tablet {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
    }
    .radio-btn__input {
      &:checked + .radio-btn__label {
        font-weight: 600;
      }
    }
  }
  &--line {
    .radio-btn__label {
      color: $gray-70;
    }
    .radio-btn__input {
      &:checked + .radio-btn__label {
        border-color: $gray-80;
        background-color: $white;
        color: $gray-80;
      }
    }
  }
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &--col3,
  &--col4,
  &--col5 {
    display: grid;

    .radio {
      width: 100%;
      min-width: 0;

      & + .radio {
        margin-left: 0;
      }
    }
  }
  &--col3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  &--col4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  &--col5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}