@use '../base/mixin' as *;
@use '../base/variables' as *;

/* main z-index: 1~20, header: 50~100, gnb, tabbar: 101~200, footer: 201~, bottom sheet: 999, modal: 1000 */

body {
  &.is-loading {
    overflow: hidden;
    touch-action: none;
  }
}

#wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 280px;
  &.page-product {
    overflow: visible;
    @include tablet {
      overflow: hidden;
    }
  }
}

.container {
  margin-top: 81px;
  @include tablet {
    margin-top: 0;
  }
  &.has-lnb {
    display: flex;
    gap: 50px;
    max-width: 1280px;
    margin: 81px auto 0;
    .section {
      flex: 1;
      min-width: 0;
    }
    .section__inner {
      max-width: 100%;
    }
    @include tablet {
      display: block;
      max-width: 100%;
      margin-top: 0;
    }
  }
}

//섹션 공통
.section {
  position: relative;
  overflow: hidden;
  width: 100%;
  // 하단 고정 버튼 대응용 여백 클래스
  &--fixed {
    @include tablet {
      .section__inner {
        padding-bottom: calc(88px + env(safe-area-inset-bottom));
      }
    }    
  }
  &__inner {
    position: relative;
    max-width: 1280px;
    min-height: 690px;
    padding: 40px 0 80px;
    margin: 0 auto;
    @include desktop {
      padding: 40px 24px 80px;
    }
    @include tablet {
      max-width: 100%;
      min-height: 100dvh;
      padding: 62px 0 32px;
    }
  }
  &__header {
    position: relative;
    margin-bottom: 20px;
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;      
      justify-content: center;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 62px;
      padding: 0 24px;
      margin-bottom: 0;
      border-bottom: 1px solid $gray-30;
      background: #FFF;
      background: $white;
      z-index: 50;
    }
    .btn-icon--back {
      display: none;
      @include tablet {
        display: inline-flex;
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
    }
  }
  &__util {
    display: none;
    @include tablet {
      display: flex;
      align-items: center;
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
  &__title {
    padding-bottom: 22px;
    border-bottom: 1px solid $gray-30;
    color: $grayscale-800;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.2px;
    @include tablet {
      padding: 0 24px;
      border-bottom: 0;
      color: $grayscale-900;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
    }
  }
}

//컨텐츠 공통
.content {
  &__inner {
    @include tablet {
      padding: 24px;
    }    
  }
  &__title {
    margin-bottom: 16px;
    color: $gray-80;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    &--mb0 {
      margin-bottom: 0;
    }
    &--sm {
      margin-bottom: 8px;
    }
    &--lg {
      margin-bottom: 24px;
    }
    &--flex {
      display: flex;
      align-items: center;
    }
  }
  &__desc {
    display: inline-block;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    &--notice {
      color: $red;
    }
  }
}

// page별 레이아웃
// 로그인, 회원가입
.page-login,
.page-join {
  .section {
    &.section--fixed {
      .section__inner {
        @include tablet {
          padding-bottom: calc(88px + env(safe-area-inset-bottom));
        }
      }
    }
    &__inner {
      display: flex;
      flex-direction: column;
      padding: 80px 0;
      @include tablet {
        padding: 62px 0 32px;
      }
    }
    &__header {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 24px;
      @include tablet {
        flex-direction: row;
        gap: 0;
        margin-bottom: 0;
      }
    }
    &__title {
      padding-bottom: 0;
      border-bottom: 0;
      color: $gray-90;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -1px;
      @include tablet {
        padding: 0 24px;
        color: $grayscale-900;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
      }
    }
  }
  @include tablet {
    .header {
      display: none;
    } 
    .footer {
      display: none;
    }
  }
}

// 마이페이지 홈
.page-mypage-home {
  .section {
    &__header {
      display: none;
      @include tablet {
        display: flex;
      }
    }
  }
}

// 마이페이지
.page-mypage {
  .section { 
    &__inner {
      display: flex;
      flex-direction: column;
    }
  }
}

// 상품 상세
.page-product {
  .section {
    overflow: visible;
    @include tablet {
      overflow: hidden;
    }
    &__inner {
      padding: 80px 0;
      @include tablet {
        padding: 62px 0 calc(120px + env(safe-area-inset-bottom));
      }
    }
    &__header {
      display: none;
      @include tablet {
        display: flex;
      }
    }
  }
}