@use '../base/mixin' as *;
@use '../base/variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 81px;
  border-bottom: 1px solid $gray-30;
  background-color: $white;  
  z-index: 50;
  @include tablet {
    display: none;
    position: relative;
    height: auto;
    border-bottom: none;
  }
  &.scrolled:not(.header--dark) {
    background-color: rgba($white, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  &__inner {
    @include flex(center, space-between);
    width: 100%;
    height: 100%;
    padding: 24px 84px;
    @media (max-width: 1440px) {
      padding: 24px;
    }
    @include tablet {
      flex-direction: column;
      align-items: start;
      gap: 24px;
      padding: 24px 0;
    }
  }
  &__logo-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    @include tablet {
      padding: 0 24px;
    }
  }
  &__logo {
    width: 211px;
    height: 31px;
    text-indent: -9999px;
    @include bgimage('logo', 'svg');
    background-size: cover;
    @include tablet {
      width: 163px;
      height: 24px;
    }
  }
  &__nav {
    display: flex;
    gap: 32px;
    @include desktop {
      gap: 24px;
    }
    @include tablet {
      width: 100%;
      overflow-x: auto;
    }
  }
  &__util {
    display: flex;
    gap: 24px;
    @include desktop {
      gap: 16px;
    }
    @include tablet {
      display: none;
    }
  }
  &--dark {
    background-color: transparent;
    border-bottom-color: transparent;
    &.scrolled {
      background-color: rgba($color: $black, $alpha: 0.7);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }
    .header__logo {
      width: 198px;
      height: 33px;
      @include bgimage('logo_w', 'svg');
      background-size: cover;
      @include tablet {
        width: 163px;
        height: 26px;
      }
    }
    .brand-dropdown {
      &__toggle-icon {
        @include bgimage('icon_chevron_down_24_w', 'svg');
        @include tablet {
          width: 18px;
          height: 18px;
          background-size: cover;
        }
      }
    }
    .nav__link {
      color: $white;
    }
    .nav--etc {
      .nav__link {
        color: $white;
      }
      &::before {
        color: $white;
      }
    }
    .util {
      &__item {
        &--search {
          @include bgimage('icon_search_w', 'svg'); 
        }
        &--cart {
          @include bgimage('icon_cart_32_w', 'svg'); 
        }
        &--mypage {
          @include bgimage('icon_mypage_w', 'svg'); 
        }
      }
      &__badge {
        background-color: $white;
        color: $black;
      }
    }
  }
  // 메인
  &--main {
    @include tablet {
      display: block;
      position: fixed;
      transform: translateY(0);
      transition: transform 0.3s ease;
    }
    &.is-hidden {
      @include tablet {
        transform: translateY(-54px);
      }
      .header__inner {
        @include tablet {
          padding: 16px 0;
        }
      }
    }
  }
}


.logo {
  flex-shrink: 0;
  &__link {
    display: block; 
    width: 100%;
    height: 100%;
  }
  &__img {
    height: 30px;
    @include tablet {
      height: 24px;
    }
  }
}
.brand-dropdown {
  position: relative;
  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    @include tablet {
      width: 18px;
      height: 18px;
    }
  }
  &__toggle-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    @include bgimage('icon_chevron_down_24', 'svg');
    @include tablet {
      width: 18px;
      height: 18px;
      background-size: cover;
    }
  }
  &__layer {
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    width: 143px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid $gray-80;
    background: $white;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
    transition:
      opacity .2s ease,
      transform .2s ease;
    &.no-transition {
      transition: none !important;
    }
    &.is-active {
      opacity: 1 !important;
      pointer-events: auto;
      transform: translateY(0);

      @include tablet {
        pointer-events: auto;
        transform: translateY(0);
        transition: transform .4s cubic-bezier(0.76, 0, 0.24, 1);
      } 
    }
    @include tablet {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      padding: 24px 32px;
      border-radius: 0;
      border: 0;
      background: rgba($color: $black, $alpha: 0.95);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      z-index: 1;
      opacity: 1;
      pointer-events: none;
      transform: translateY(-100%);
      transition:
        visibility .4s,
        transform .4s cubic-bezier(0.76, 0, 0.24, 1);
    }
  }
  &__content {
    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
  &__list {
    @include flex-col;
    gap: 12px;
    @include tablet {
      gap: 16px;
    }
  }
  &__item {
    height: 18px;
    @include tablet {
      height: auto;
    }
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    @include tablet {
      @include flex(center, space-between);
      padding: 17px 16px 17px 24px;
      border-radius: 8px;
      background: $white;
    }
    &::after {
      content: '';
      display: none;
      width: 24px;
      height: 24px;
      @include bgimage('icon_chevron_right_24', 'svg');
      @include tablet {
        display: block;
      }
    }
    img {
      @include tablet {
        height: 21px;
      }
    }
  }
  &__close {
    display: none;
    @include tablet {
      align-self: flex-end;
      display: flex;
      align-items: center;
      gap: 3px;
      padding: 0;
    }
  }
  &__close-text {
    color: $white;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.84px;
  }
  &__close-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    @include bgimage('icon_delete_20_w', 'svg');
  }
}
@keyframes layer-open {
  0% { 
    transform: translateY(-100%);
  }
  100% { 
    transform: translateY(0);
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
  @include desktop {
    gap: 24px;
  }
  @include tablet {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: max-content;
    white-space: nowrap;
    padding: 0 24px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__item {
    position: relative;
    @include flex;
    flex-shrink: 0;
    // &.is-active {
    //   &::after {
    //     display: none;
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 2px;
    //     background-color: #222;
    //     @include tablet {
    //       display: block;
    //     }
    //   }
    // }
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    color: $gray-90;
    font-family: $font-en;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    @include tablet {
      color: #222;
      font-weight: 500;
    }
  }

  &--etc {
    position: relative;
    &::before {
      @include before_after;
      width: 1px;
      height: 24px;
      background-color: $gray-40;
      @include desktop {
        height: 20px;
      }
      @include tablet {
        display: none;
      }
    }
    @include tablet {
      display: none;
    }
    .nav__link {
      color: $gray-80;
      font-family: $font-base;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.util {
  &__item {
    position: relative;
    width: 32px;
    height: 32px;
    @include flex;
    &--search {
      @include bgimage('icon_search', 'svg');
    }
    &--cart {
      @include bgimage('icon_cart_32', 'svg');
    }
    &--mypage {
      @include bgimage('icon_mypage', 'svg');
    }
  }
  &__badge {
    position: absolute;
    top: 2px;
    right: 0;
    width: 14px;
    height: 14px;
    background-color: #2D2D2D;
    border-radius: 50%;
    color: $white;
    font-family: $font-en;
    font-size: 9px;
    font-weight: 600;
    text-align: center;
  }
}