@use '../base/mixin' as *;
@use '../base/variables' as *;

// 에러페이지
.page-error {
  .section {
    &__inner {
      @include tablet {
        padding: 0;
      }
    }
  }
}

.error {
  @include flex(center, center);
  min-height: inherit;
  &__content {
    @include flex-col;
    gap: 40px;
    @include tablet {
      padding: 0 24px;
    }
  }
  &__message {
    @include flex-col;
    gap: 20px;
    p {
      color: $gray-80;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      @include tablet {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  &__notice {
    color: $gray-60;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.14px;
    text-align: center;
  }
  .btn-wrap {
    margin-top: 0;
    .btn {
      flex: 0 1 auto;
    }
  }
}