@use '../base/mixin' as *;
@use '../base/variables' as *;

.main {
  background: $white;
  // main section common
  .section {    
    background: $white;
    padding-top: 80px;
    &:last-child {
      padding-bottom: 80px;
    }
    &__inner {
      min-height: auto;
      padding: 0 24px;
    }
    &__title {
      padding: 0;
      margin-bottom: 24px;
      border-bottom: 0;
      color: $gray-90;
      font-family: $font-en;
      font-size: 48px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0;
      text-transform: uppercase;
    }
    &--hero {
      padding-top: 0;
    }
  }
  // 상품 공통 메인에서
  .product-card {
    position: relative;
    &__link {
      @include flex-col;
      gap: 12px;
    }
    &__wish {
      position: absolute;
      right: 8px;
      top: 8px;
      width: 20px;
      height: 20px;
      padding: 0;
      @include bgimage('icon_like_off_gray', 'svg');
      &.is-active {
        @include bgimage('icon_like_on', 'svg');
        background-size: cover;
      }
    }
  }
  .hero-swiper {
    &__slide {
      &.swiper-slide-active {
        .hero-swiper__title,
        .hero-swiper__desc {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0)
        }
      }
    }
    &__link {
      position: relative;
    }
    &__img-box {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 100dvh;
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__txt-box {
      display: flex;
      flex-direction: column;
      gap: 8px;
      position: absolute;
      left: 24px;
      top: 35%;
      transform: translateY(-35%);
      z-index: 1;
    }
    &__title {
      max-width: 297px;
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
      transition: transform .5s ease-in-out .1s, opacity .7s ease .1s;
    }
    &__desc {
      color: $white;
      font-size: 18px;
      font-weight: 400;
      line-height: 120%;
      opacity: 0;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      transition: transform .5s ease-in-out .3s, opacity .7s ease .3s;
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 8px;
      position: absolute;
      left: 24px;
      bottom: 35%;
      transform: translateY(-35%);
      z-index: 1;
    }
    &__fraction {
      color: $white !important; 
      font-family: $font-en;
      font-size: 14px;
      line-height: 120%;    
      .swiper-pagination-current {
        font-weight: 600;
        opacity: 1;
      }
      .swiper-pagination-total {
        opacity: 0.7;
      }
    }
    &__fraction-sep {
      opacity: 0.7;
    }
    &__more {
      flex-shrink: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      @include bgimage('icon_cir_more', 'svg');
    }
  }
  .trend {
    padding: 56px 40px;
    @include bgimage('main/img_sec2_bg_pc', 'jpg');
    background-size: cover;
    // tab
    &__tabs {
      @include flex-col;
      gap: 40px;
    }
    &__tab-list {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 4px;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar { 
        display: none; 
      }
    }
    &__tab {
      @include inline-flex(center, center);
      padding: 12px 24px;
      border-radius: 200px;
      color: #D6D4CB;
      font-family: $font-en;
      font-size: 24px;
      font-weight: 600;
      line-height: 26px;
      text-align: center;
      &.is-active {
        color: #121212;
        background: #D6D4CB;
        font-weight: 600;
      }
    }
    .tab__panels {
      padding: 0;
    }
    &__products {
      .product {
        &__list {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 32px;
        }
      }
      .product-card {
        &__link {
          gap: 16px;
        }
        &__thumb {
          border-radius: 12px;
        }        
        &__brand,
        &__name,
        .price {
          color: $white;
        }
        &__brand {
          font-size: 20px;
        }
        &__name {
          font-size: 16px;
          line-height: 150%;
          opacity: 0.8;
        }
        &__percent {
          opacity: 0.8;
          color: #35ED8C;
          font-size: 16px;
        }
        &__cost {
          .price {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0;
            opacity: 0.8;
            &__num {
              font-weight: 400;
            }
          }
        }
        &__wish {
          right: 16px;
        }
      }
    }
  }
  .best-hot {
    // navigation
    &__nav {
      margin-bottom: 40px;
    }
    &__nav-list {
      display: flex;
      align-items: center;
      gap: 80px;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar { 
        display: none; 
      }
    }
    &__nav-item {
      flex-shrink: 0;
      font-size: 0;
      &.is-active {
        .best-hot__nav-logo {
          opacity: 1;
        }
      }
    }
    &__nav-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 86px;
      height: 60px;
      padding: 0;      
    }
    &__nav-logo {
      height: 60px;
      opacity: 0.5;
    }
    // slide
    &__slider {
      overflow: visible;
    }
    &__slide-item {
      &.swiper-slide-active {
        .best-hot__card-slogan,
        .best-hot__card-link {
          opacity: 1;
          -webkit-transform: translateX(0);
          transform: translateX(0)
        }
      }
    }
    &__card {
      @include flex-col;
      align-items: center;
    }
    &__card-thumb {
      overflow: hidden;
      width: 100%;
      border-radius: 40px;
      aspect-ratio: 369 / 457;
      background: #F2F2F2;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    }
    &__card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;      
    }
    &__card-body {
      @include flex-col;
      align-items: center;
      gap: 15px;
      padding: 0 16px;
      margin-top: -80px;
      &--no-slogan {
        padding-top: 112px;
      }
    }
    &__card-slogan {
      overflow: hidden;
      max-height: 112px;
      color: $gray-90;
      font-family: $font-en;
      font-size: 56px;
      font-weight: 800;
      line-height: 100%;      
      opacity: 0;
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
      transition: transform .5s ease-in-out .1s, opacity .7s ease .1s;
    }
    &__card-link {
      display: inline-block;
      width: 55px;
      height: 54px;
      font-size: 0;
      @include bgimage('main/icon_cir_link', 'png');
      background-size: cover;
      opacity: 0;
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
      transition: transform .5s ease-in-out .2s, opacity .7s ease .2s;
    }
  }
  .banner {
    &__link {
      position: relative;
    }
    &__img {
      width: 100%;
    }
    &__content {
      @include absolute-center;
      @include flex-col;
      align-items: center;
      gap: 8px;
    }
    &__title {
      color: $white;
      font-family: $font-en;
      font-size: 28px;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
      text-align: center;
    }
    &__desc {
      color: $white;
      font-family: $font-en;
      font-size: 18px;
      line-height: 120%;
      text-align: center;
    }
  }
  .hot-deal {
    &__header {
      @include flex(center, space-between);
      margin-bottom: 40px;
      .section__title {
        margin-bottom: 0;
      }
    }
  }
  .countdown {
    display: flex;
    &__timer {
      @include inline-flex;
      gap: 8px;
      color: $gray-90;
      font-family: $font-en;
      font-size: 28px;
      font-weight: 600;
      line-height: 120%;
      &::before {
        content: '';
        display: block;
        width: 28px;
        height: 28px;
        @include bgimage('icon_clock', 'png');
        background-size: cover;
      }
    }
  }
  .brand {
    &__wrap {
      display: flex;
      gap: 16px;
    }
    &__visual {
      img {
        width: 100%;
      }
    }
    &__products {
      padding-top: 16px;
    }
    .product__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    }
  }
  .benefit {
    &__list {
      display: flex;
    }
    &__link {
      position: relative;
    }
    &__img {
      width: 100%;
    }
    &__content {
      position: absolute;
      left: 39px;
      top: 50%;
      @include flex-col;
      gap: 8px;
      padding-right: 24px;
      transform: translateY(-50%);
    }
    &__title {
      color: $white;
      font-family: $font-en;
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
      text-transform: uppercase;
    }
    &__desc {
      color: $white;
      font-size: 16px;
      line-height: 150%;
      opacity: 0.8;
    }
  }
}
