@use '../base/mixin' as *;
@use '../base/variables' as *;

.main {
  background: $white;
  & + .floating-btns {
    align-items: flex-end;
    .ai-chat {
      &__icon-wrap {
        order: 2;
      }
    }
  }
  // main section common
  .section {    
    background: $white;
    padding-top: 80px;
    &:last-child {
      padding-bottom: 80px;
    }
    &__inner {
      min-height: auto;
      padding: 0 24px;
    }
    &__title {
      padding: 0;
      margin-bottom: 24px;
      border-bottom: 0;
      color: $gray-90;
      font-family: $font-en;
      font-size: 48px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0;
      text-transform: uppercase;
    }
    &--hero {
      padding-top: 0;
    }
  }
  // 상품 공통 메인에서
  .product-card {
    position: relative;
    &__link {
      @include flex-col;
      gap: 16px;
    }
    &__wish {
      position: absolute;
      right: 8px;
      top: 8px;
      width: 20px;
      height: 20px;
      padding: 0;
      @include bgimage('icon_like_off_gray', 'svg');
      &.is-active {
        @include bgimage('icon_like_on', 'svg');
        background-size: cover;
      }
    }
    &__brand {
      font-size: 20px;
    }
    &__name {
      margin-bottom: 4px;
      font-size: 16px;
      line-height: 150%;
    }
    &__cost {
      .price {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0;
        &__num {
          font-weight: 600;
        }
        &__unit {
          font-weight: 600;
        }
      }
    }
  }
  .hero-swiper {
    &__slide {
      &.swiper-slide-active {
        .hero-swiper__title,
        .hero-swiper__desc {
          opacity: 1;
          -webkit-transform: translateX(0);
          transform: translateX(0)
        }
      }
    }
    &__pagination {
      position: absolute;
      bottom: 0 !important;
      display: flex;
      align-items: center;
      width: 100%;
      height: 16px;
      background-color: rgba(255, 255, 255, 0.3);
      z-index: 1;
      .swiper-pagination-bullet {
        flex-grow: 1;
        flex-basis: 0;
        width: 100%;
        height: 16px;
        background-color: transparent;
        font-size: 1px;
        text-indent: -99999px;
        opacity: 1;
        border-radius: 0;
        margin: 0 !important;
      }
      .swiper-pagination-bullet-active {
        background: #00E96A;
      }
    }
    &__link {
      position: relative;
      display: block;
    }
    &__img-box {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 100dvh;
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__txt-box {
      display: flex;
      flex-direction: column;
      gap: 8px;
      @include absolute-center;
      max-width: 1280px;
      width: 100%;
      // padding: 0 24px;
      margin: 0 auto;
      z-index: 1;
      img {
        max-width: 570px;
      }
    }
    &__title {      
      color: $white;
      font-family: 'Odibee Sans';
      font-size: 160px;
      line-height: 100%;
      opacity: 0;
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
      transition: transform .5s ease-in-out .2s, opacity .7s ease .2s;
    }
    &__desc {
      color: $white;
      font-family: $font-en;
      font-size: 35px;
      font-weight: 400;
      line-height: 120%;
      opacity: 0;
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
      transition: transform .5s ease-in-out .5s, opacity .7s ease .5s;
    }
  }
  .trend {
    padding: 56px 40px;
    @include bgimage('main/img_sec2_bg_pc', 'jpg');
    background-size: cover;
    // tab
    &__tabs {
      @include flex-col;
      gap: 40px;
    }
    &__tab-list {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 4px;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar { 
        display: none; 
      }
    }
    &__tab {
      @include inline-flex(center, center);
      padding: 12px 24px;
      border-radius: 200px;
      color: #D6D4CB;
      font-family: $font-en;
      font-size: 24px;
      font-weight: 600;
      line-height: 26px;
      text-align: center;
      &.is-active {
        color: #121212;
        background: #D6D4CB;
        font-weight: 600;
      }
    }
    .tab__panels {
      padding: 0;
    }
    &__products {
      .product {
        &__list {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 32px;
        }
      }
      .product-card {
        &__link {
          gap: 16px;
        }
        &__thumb {
          border-radius: 12px;
        }        
        &__brand,
        &__name,
        .price {
          color: $white;
        }
        &__name {
          margin-bottom: 0;
          opacity: 0.8;
        }
        &__percent {
          opacity: 0.8;
          color: #35ED8C;
          font-size: 16px;
        }
        &__cost {
          .price {
            opacity: 0.8;
            &__num {
              font-weight: 400;
            }
          }
        }
        &__wish {
          right: 16px;
        }
      }
    }
  }
  .best-hot {
    // navigation
    &__nav {
      margin-bottom: 40px;
    }
    &__nav-list {
      display: flex;
      align-items: center;
      gap: 80px;
      width: max-content;
      min-width: 100%;
      max-width: 1232px;
      overflow-x: auto;
      &::-webkit-scrollbar {
        height: 2px;
      }
      &::-webkit-scrollbar-track {
        background: transparent
      }
      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 2px;
      }
      scrollbar-width: thin;
      scrollbar-color: #ccc transparent;
    }
    &__nav-item {
      flex-shrink: 0;
      font-size: 0;
      &.is-active {
        .best-hot__nav-logo {
          opacity: 1;
        }
      }
    }
    &__nav-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 86px;
      height: 60px;
      padding: 0;
    }
    &__nav-logo {
      height: 60px;
      opacity: 0.5;
    }
    // slide
    &__slide-item {
      &.swiper-slide-active {
        .best-hot__card-slogan,
        .best-hot__card-link {
          opacity: 1;
          -webkit-transform: translateX(0);
          transform: translateX(0)
        }
      }
    }
    &__slide-btn {
      font-size: 0;
      @include tablet {
        display: none;
      }
    }
    &__slide-prev {
      position: absolute;
      top: 35%;
      transform: translateY(-35%);
      left: 0;
      width: 36px;
      height: 36px;
      @include bgimage('icon_swiper_prev', 'svg');
      z-index: 1;
    }
    &__slide-next {
      position: absolute;
      top: 35%;
      transform: translateY(-35%);
      right: 0;
      width: 36px;
      height: 36px;
      @include bgimage('icon_swiper_next', 'svg');
      z-index: 1;
    }
  }
  .banner {
    &__link {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    &__img {
      width: 100%;
    }
    &__content {
      @include absolute-center;
      @include flex-col;
      align-items: center;
      gap: 8px;
    }
    &__title {
      color: $white;
      font-family: $font-en;
      font-size: 28px;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
      text-align: center;
    }
    &__desc {
      color: $white;
      font-family: $font-en;
      font-size: 18px;
      line-height: 120%;
      text-align: center;
    }
  }
  .hot-deal {
    &__header {
      @include flex(center, space-between);
      margin-bottom: 40px;
      .section__title {
        margin-bottom: 0;
      }
    }
    &__swiper-btn {
      font-size: 0;
    }
    &__swiper-prev {
      position: absolute;
      top: 35%;
      left: 0;
      transform: translateY(-35%);
      width: 36px;
      height: 36px;
      @include bgimage('icon_swiper_prev', 'svg');
      z-index: 1;
    }
    &__swiper-next {
      position: absolute;
      top: 35%;
      right: 0;
      transform: translateY(-35%);
      width: 36px;
      height: 36px;
      @include bgimage('icon_swiper_next', 'svg');
      z-index: 1;
    }
  }
  .limited-offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    .product-card {
      aspect-ratio: 1 / 1;
      border-radius: 16px;
      background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #F4F4F4 100%);
      &__wish {
        right: 24px;
        top: 40px;
      }
      &__link {
        position: relative;
        justify-content: space-between;
        padding: 40px 24px;
      }
      &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: unset;
        flex: 1;
        img {
          height: auto;
        }
      }
      &__info {
        gap: 4px;
      }
      &__name {
        color: $gray-80;
        font-size: 20px;
        font-weight: 600;
        line-height: 150%;
      }
      &__price {
        flex-direction: row;
        gap: 4px;
      }
      &__percent {
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0;
      }
      &__cost {
        .price {
          font-size: 16px;
          font-weight: 600;
          line-height: 16px;
          letter-spacing: 0;
          &__unit {
            font-weight: 600;
          }
        }
      }
      &__origin {
        display: block;
        margin-left: 4px;
        .price {          
          color: $gray-50;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0
        }
      }
    }
  }
  .countdown {
    display: flex;
    &__timer {
      @include inline-flex;
      gap: 8px;
      color: $gray-90;
      font-family: $font-en;
      font-size: 28px;
      font-weight: 600;
      line-height: 120%;
      &::before {
        content: '';
        display: block;
        width: 28px;
        height: 28px;
        @include bgimage('icon_clock', 'png');
        background-size: cover;
      }
    }
  }
  .brand {
    overflow: hidden;
    &__wrap {
      display: flex;
      gap: 24px;
    }
    &__visual {
      img {
        width: 100%;
      }
    }
    &__link {
      display: block;
      width: 100%;
      height: 100%;
    }
    &__swiper {
      padding-top: 16px;
    }
    &__swiper-btn {
      font-size: 0;
    }
    &__swiper-prev {
      position: absolute;
      top: 72px;
      left: 0;
      width: 36px;
      height: 36px;
      @include bgimage('icon_swiper_prev', 'svg');
      z-index: 1;
    }
    &__swiper-next {
      position: absolute;
      top: 72px;
      right: 0;
      width: 36px;
      height: 36px;
      @include bgimage('icon_swiper_next', 'svg');
      z-index: 1;
    }
    .product-card {
      &__link {
        gap: 12px;
      }
      &__brand {
        font-size: 14px;
      }
    }
  }
  .benefit {
    &__swiper {
      padding-bottom: 40px;
      .swiper-pagination {
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translateX(-50%);
      }
      .swiper-pagination-bullet-active {
        background: $gray-80;
      }
    }
    &__list {
      display: flex;
    }
    &__link {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    &__img {
      width: 100%;
    }
    &__content {
      position: absolute;
      left: 39px;
      top: 50%;
      @include flex-col;
      gap: 8px;
      padding-right: 24px;
      transform: translateY(-50%);
    }
    &__title {
      color: $white;
      font-family: $font-en;
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
      text-transform: uppercase;
    }
    &__desc {
      color: $white;
      font-size: 16px;
      line-height: 150%;
      opacity: 0.8;
    }
  }
}
