@use '../base/mixin' as *;
@use '../base/variables' as *;

// 공통 
// 상품 개별 카드
.order-card {
  & + .order-card {
    margin-top: 40px;
    @include tablet {
      margin-top: 24px;
    }
  }
  &__date {
    margin-bottom: 10px;
    color: $grayscale-800;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.18px;
    @include tablet {
      margin-bottom: 12px;
      color: $gray-80;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0;
    }
  }
  &__box {
    border-radius: 6px;
    border: 1px solid $gray-30;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 20px 20px;
    @include tablet {
      padding: 16px;
    }
    .btn-link {
      margin-left: auto;
    }
  }
  &__badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid $grayscale-200;
    background-color: $grayscale-75;
    color: $grayscale-600;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.6px;
    @include tablet {
      display: none;
    }
  }
  &__number {
    color: $gray-80;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
.order-group {
  &:first-child {
    .order-group__head {
      @include tablet {
        border-radius: 6px 6px 0 0;
      }
    }
  }
  &--no-padding {
    .order-goup__body {
      padding: 0;
    }
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 6px;
    background: $gray-5;
    @include tablet {
      padding: 8px 16px;
      border-radius: 0;
    }
  }
  &__status {
    color: $gray-80;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.16px;    
    @include tablet {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
    }
  }
  &__schedule {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__schedule-label {
    color: #2582E5;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }
  &__schedule-date {
    color: $gray-70;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 40px 20px 20px;    
    @include tablet {
      align-items: start;
      flex-direction: column;
      gap: 0;
      padding: 20px 16px 16px;
    } 
  }
  &__content {
    flex: 1;
    @include tablet {
      width: 100%;
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 115px;
    padding: 0;
    @include tablet {
      gap: 8px;
      width: 100%;
      padding-top: 16px;
    }
    .btn-group {
      flex-direction: column;
      gap: 10px;
      @include tablet {
        flex-direction: row;
        gap: 8px;
      }
    }
    .btn {
      width: 100%;
      height: 40px;
      padding: 10px 16px;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.14px;
      @include tablet {
        height: 32px;
        padding: 8px 16px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0;
      }
    }
  }
  &--selectable {
    .order-item {
      position: relative;
      padding-left: 28px;
    }
    .order-item__check {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
.order-item {  
  display: flex;
  align-items: center;
  gap: 20px;
  @include tablet {
    align-items: start;
    gap: 12px;
    width: 100%;
  }
  & + .order-item {
    margin-top: 20px;
    @include tablet {
      margin-top: 12px;
    }
  }
  &__thumb {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    width: 128px;
    height: 128px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    @include tablet {
      width: 80px;
      height: 80px;
    }
    .btn-icon--delete {
      position: absolute;
      right: 4px;
      top: 4px;
      z-index: 1;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
    @include tablet {
      align-items: start;
      flex-direction: column;
      gap: 6px;
    }
  }
  &__content-left {
    flex: 1;
  }
  &__name {
    color: $gray-80;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.14px;    
    @include tablet {
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0;
    }
  }
  &__meta {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include tablet {
      margin-top: 0;
      gap: 2px;
    }
  }
  &__meta-row {

    & + .order-item__meta-row {
      margin-top: 0;
    }
    &::before {
      content: '∙';
      color: $gray-60;
      width: 8px;
      text-align: left;
    }
    &--highlight {
      .order-item__meta-label,
      .order-item__meta-value {
        color: $red;
      }
    }
  }
  &__meta-label {
    &::after {
      content: ':';
      margin-left: 4px;
    }
  }
  &__meta-label,
  &__meta-value {
    color: $gray-70;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.14px;
    @include tablet {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0;
    }
  }
  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    @include tablet {
      width: 100%;
      align-items: start;
    }
  }
  .price {
    display: inline-flex;
    align-items: center;
  }
  // 정가
  &__price-origin {
    .price {
      color: $gray-40;
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -0.16px;
      &__num {
        text-decoration: line-through;
      }
    }
    @include tablet {
      display: none;
    }
  }
  // 비용
  &__price-cost {
    .price {
      color: $gray-80;
      font-size: 18px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -0.18px;
      @include tablet {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }
      &__unit {
        font-weight: 400;
      }
    }
  }
}

// 페이지
// 마이페이지 홈
.mypage {
  @include tablet {
    padding-bottom: 88px;
  }
  // 회원 정보 요약
  .profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 6px;
    background: #EFF4F9;
    @include tablet {
      gap: 16px;
      padding: 32px 24px;
      border-radius: 0;
    }
    // 이름 및 등급
    &__user {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__account {
      display: flex;
      align-items: center;
      gap: 10px;
      @include tablet {
        gap: 8px;
      }
    }
    &__grade {
      display: block;
      width: 32px;
      height: 32px;
    }
    &__grade--bronze {
      @include bgimage('icon_grade_r', 'svg');
    }
    &__name {
      color: $gray-80;
      font-size: 24px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -1px;
      @include tablet {
        color: $grayscale-800;
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: -0.09px;
      }
    }

    // 주문 현황
    &__orders {
      @include tablet {
        margin-top: 8px;
        padding: 16px 8px;
        border-radius: 8px;
        background-color: $white;
      }
    }
    &__orders-list {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      @include tablet {

      }
    }
    &__orders-item {
      display: flex;
      align-items: center;
      flex: 1 0 0;
      max-width: 100%;
      height: 40px;
      border-radius: 6px;
      border: 1px solid $gray-30;
      background: $white;
      @include tablet {
        max-width: 76px;
        height: auto;
        border-radius: 0;
        border: 0;
        background: transparent;
      }
    }
    &__orders-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      @include tablet {
        flex-direction: column;
      }
    }
    &__orders-icon {
      display: block;
      width: 16px;
      height: 16px;
      margin: 0 8px 0 0;
      background-size: cover !important;
      @include tablet {
        width: 24px;
        height: 24px;
        margin: 0 0 8px 0;
      }
    }
    &__orders-icon--order {
      @include bgimage('icon_order', 'svg');
    }
    &__orders-icon--refund {
      @include bgimage('icon_refund', 'svg');
    }
    &__orders-icon--review {
      @include bgimage('icon_review', 'svg');
    }
    &__orders-icon--wishlist {
      @include bgimage('icon_wishlist', 'svg');
    }
    &__orders-label {
      flex-shrink: 0;
      color: $gray-80;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -0.14px;
      @include tablet {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.48px;
      }
    }
    &__orders-count {
      display: inline-flex;
      align-items: center;
      text-align: center;
      color: $gray-80;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.14px;
      @include tablet {
        color: $gray-70;
        font-size: 11px;
        line-height: 12px;
      }      
      &::before {
        content: '(';
      }
      &::after {
        content: ')';
      }
    }

    // 보유한 쿠폰, 포인트, 상품권
    &__summary {}
    &__summary-list {
      display: flex;
      gap: 8px;
    }
    &__summary-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 8px;
      border: 1px solid $gray-30;
      background-color: $white;
      @include tablet {
        border: 0;
      }
    }
    &__summary-link {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;
      width: 100%;
      height: 80px;
      padding: 0 24px;
      @include tablet {
        gap: 8px;
        height: auto;
        padding: 16px 12px;
      }
      &::after {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        @include bgimage('icon_chevron_right_16','svg');
        @include tablet {
          display: none;
        }
      }
    }
    &__summary-label {      
      display: flex;
      align-items: center;
      color: $gray-80;
      font-size: 14px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.14px;
      @include tablet {
        flex: 1;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0;
      }
      &::after {
        content: '';
        display: none;
        width: 20px;
        height: 20px;
        @include bgimage('icon_chevron_right_20','svg');
        
        @include tablet {
          display: block;
        }
      }
    }
    &__summary-value {
      display: flex;
      align-items: center;
      gap: 4px;
      color: $gray-80;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.16px;
      @include tablet {
        gap: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
      }
    }
    &__summary-count {
      color: $gray-80;
      font-size: 20px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.2px;
      @include tablet {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0;
      }
    }
    &__summary-text {
      padding-top: 3px;
      @include tablet {
        padding-top: 0;
      }
    }
  }
  // 상품 리스트
  .product {
    margin-top: 20px;
    @include tablet {
      margin-top: 0;
    }
  }
  .account {
    display: none;
    @include tablet {
      display: block;
    }
    .btn {
      padding: 8px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  }
  .support {
    display: none;
    @include tablet {
      display: block;
    }
    .btn {
      padding: 8px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  }
  .menu {
    display: none;    
    @include tablet {
      display: flex;
      flex-direction: column;
      padding: 0 24px;
    }
    &__item {
      padding: 16px 0;
      border-bottom: 1px solid $gray-20;
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color:$gray-80;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        @include bgimage('icon_chevron_right_20', 'svg'); 
      }
    }
  }
}
// 주문 내역
.order {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
  @include tablet {
    gap: 0;
  }
  .filter {
    // pc
    &__pc {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @include tablet {
        display: none;
      }
    }
    &__group {
      display: flex;
      align-items: center;
      gap: 20px;
      .date-range {
        flex: 1;
        .form__control {
          height: 33px;
          padding: 8px 12px;
        }
      }
    }

    // mobile
    &__mobile {
      display: none;
      @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        padding: 12px 24px;
        background: $gray-10;
      }
    } 
    &__summary {
      display: flex;
      align-items: center;
    }
    &__type,
    &__period {
      color: $gray-80;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }
    &__period {
      &::before {
        content: '·';
        display: inline-block;
        width: 8px;
        text-align: center;
      }
    }
  }
  
  &__content {    
    height: 100%;    
    @include tablet {
      flex: 1;
      padding: 24px;
    }
    &.is-empty {
      display: flex;
      align-items: center;
    }
  }
  .order-group__head {
    border-radius: 0;
  }
  // 상품 전체 선택
  &__check-all {
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: 1px solid $gray-30;
  }
}
// 주문 내역 상세 + 취소/반품/교환
.order-detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @include tablet {
    gap: 0;
  }
  .summary {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 20px;
    border-radius: 6px;
    background: #EFF4F9;
    @include tablet {
      padding: 24px;
      border-radius: 0;
      background: $white;
    }
    &__date {
      color: $gray-80;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.14px;      
      @include tablet {
        color: $gray-70;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0;
      }
    }
    &__number {
      color: $gray-80;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.16px;
    }
  }
  // 주문 상품
  .order__content {
    @include tablet {
      padding: 0;
    }
  }
  .order-card__box {
    border-radius: 0;
    border: 0;
    @include tablet {
      border-radius: 6px;
      border: 1px solid $gray-30;
    }
  }
  .order-group__body {
    padding-left: 0;
    @include tablet {
      padding-left: 16px;
    }
  }
  // 배송지 정보
  .delivery {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    &__item {
      display: flex;
      flex-wrap: wrap;
    }
    &__label {
      flex-shrink: 0;
      color: $gray-70;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      &::before {
        content: '∙';
        display: inline-block;
        color: $gray-60;
        width: 16px;
        text-align: center;
      }
      &::after {
        content: ':';
        margin-left: 4px;
      }
    }
    &__value {
      flex: 1; 
      min-width: 0;
      margin-left: 4px;
      color: $gray-70;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    &__subtext {
      flex: 1 1 100%;
      padding-left: 16px;
      color: $gray-50;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    .btn-link {
      position: absolute;
      right: 0;
      top: 20px;
      @include tablet {
        top: -36px;
      }
    }
  }
  // 결제금액
  .payment {
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      & + .payment__item {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid $gray-10;
        @include tablet {
          padding-top: 16px;
          margin-top: 16px;
          border-color: #E4E4E4;
        }
        &.payment__item--sub {
          padding-top: 10px;
          margin-top: 0;
          border-top: 0;
          @include tablet {
            padding-top: 8px;
          }
        }
        &.payment__item--total {
          padding-bottom: 0;
          margin-bottom: 8px;
          border-bottom: 0;
        }
      }
      &:last-child {
        padding-bottom: 16px;
        border-bottom: 1px solid #E4E4E4;
      }
      &--total {
        align-items: start;
      }
      &--sub {
        .payment__label {
          color: $gray-60;
          font-size: 14px;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: -0.14px;          
          @include tablet {
            color: $gray-80;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0;
          }
          &::before {
            content: '∙';
            display: inline-block;
            width: 4px;
            margin-right: 4px;
          }
        }
        .payment__value {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          &.payment__value--minus {
            .payment__value-num,
            .payment__value-unit {
              font-weight: 400;
            }
          }
        }        
      }
    }
    &__label {
      color: $gray-80;
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -0.16px;      
      @include tablet {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0;    
      }
    }
    &__label-subtext {
      display: block;
      margin-top: 4px;
      color: $red;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
    &__value {
      color: $gray-80;
      text-align: right;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.16px;
      @include tablet {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }
      &--minus {
        .payment__value-num,
        .payment__value-unit {
          color: $red;
          font-weight: 600;
        }
      }
    }
    &__value-num {
      font-weight: 600;
    }
    &__value-unit {
      font-weight: 400;
    }
    &__value-way {
      margin-top: 4px;
      color: $red;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  }
  .order-card__date {
    display: none;
    @include tablet {
      display: block;
    }
  }
  // 취소,반품,환불 사유
  &.is-claim {
    .order-group {
      & + .order-group {
        margin-top: 16px;
      }
    }
    .order__content {
      padding: 20px;
      border-radius: 6px;
      border: 1px solid $gray-30;
      @include tablet {
        padding: 24px;
        border-radius: 0;
        border: 0;
      }
    }
  }
  // 취소,반품,환불 사유
  .claim {
    &__content {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__text {
      color: $gray-80;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      &--notice {
        color: $red;
      }
    }
  }
  // 매장 찾기
  .return-store {
    &__content {
      display: flex;
      align-items: end;
      gap: 8px;
      .form__field {
        flex: 1;
      }
    }
  }
}
// 주문 내역 상세 아코디언
.order-block {
  padding: 0 20px;
  border-radius: 6px;
  border: 1px solid $gray-30;
  @include tablet {
    padding: 24px;
    border-radius: 0;
    border: 0;
  }
  &.is-open {
    .order-block__header {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    @include tablet {
      padding: 0 0 20px;
      cursor: default;
    }
    &::after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      @include bgimage('icon_chevron_down_20', 'svg');
      @include tablet {
        display: none;
      }
    }
    &--hide {
      @include tablet {
        display: none;
      }
    }
  }
  &__title {
    text-align: left;
    color: $gray-80;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.18px;
    @include tablet {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0;
    }
  }
  &__content {
    position: relative;
    overflow: hidden;
    height: auto;
    transition: height 0.3s ease;
  }
  &__inner {
    padding: 20px 0;
    border-top: 1px solid $gray-30;
    @include tablet {
      padding: 0;
      border-top: 0;
    }
  }
}
// 매장 찾기 레이어
.store-finder {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include tablet {
    gap: 16px;
  }
  .search {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include tablet {
      gap: 8px;
    }
    &__field {
      display: flex;
      gap: 10px;
      .btn {
        flex-shrink: 0;
        padding: 12px 20px;
      }
    }
  }
  .map {
    &__area {
      overflow: hidden;
      height: 128px;
      border-radius: 6px;
      border: 1px solid $gray-30;
    }
    &__inner {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .store-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include tablet {
      gap: 8px;
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4px;
      width: 100%;
      padding: 16px;
      border-radius: 6px;
      border: 1px solid $gray-30;
      text-align: left;
      &.is-active {
        border-color: $gray-80;
        .store-list__icon {
          @include bgimage('icon_location_black', 'svg');
        }
      }
    }
    &__name {
      margin-bottom: 4px;
      color: $gray-80;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
    &__address,
    &__tel {
      display: block;
      color: $gray-60;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
    &__address {
      margin-bottom: 2px;
    }
    &__icon {
      flex-shrink: 0;
      display: block;
      width: 24px;
      height: 24px;
      @include bgimage('icon_location_gray', 'svg');
    }
  }
}
// 주문,취소,반품,환불,교환 완료
.order-done {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include tablet {
    gap: 0;
  }
  &__title {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-30;
    color: $gray-80;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.18px;
    @include tablet {
      padding-bottom: 0;
      margin-bottom: 12px;
      border-bottom: 0;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px; 
    }
  }
  .claim-done {
    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding-top: 20px;
      @include tablet {
        align-items: center;
        gap: 24px;
        padding: 40px 24px;
      }
    }
    &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      margin: 0 auto;
    }
    &__img {
      width: 44px;
      height: 44px;
      @include tablet {
        width: 52px;
        height: 52px;
      }
    }
    &__title {
      color: $grayscale-900;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      text-align: center;
    }
    &__box {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #EFF4F9;
      @include tablet {
        padding: 16px 24px;
        border-radius: 8px;
      }
    }
    &__list {
      li {
        color: $gray-80;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        word-break: keep-all;
        @include tablet {
          text-align: center;
        }
      }
    }
    &__text {
      color: $gray-70;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      word-break: keep-all;
      @include tablet {
        text-align: center;
      }
    }
    &__link {
      display: inline-block;
      color: #246BEB;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-decoration: underline;
      text-underline-position: from-font;
    }
  }
  .order__content {
    padding: 20px;
    border-radius: 6px;
    border: 1px solid $gray-30;
    @include tablet {
      padding: 24px;
      border-radius: 0;
      border: 0;
    }
  }
  .claim-notice {
    .text-notice {
      margin-top: 16px;
      & + .list {
        margin-top: 4px;
      }
    }
    .list {
      margin-top: 16px;
    }
  }
}
// 나의 활동 내역 - 상품 후기
.product-review {
  .empty {
    border: 0;
  }
  .summary {
    display: none;
    @include tablet {
      display: block;
      padding: 12px 24px;
      background-color: $gray-10;
    }
    &__text {
      color: $gray-80;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }
  }
  .notice {
    padding: 20px;
    border-radius: 2px;
    background: $gray-5;
    @include tablet {
      padding: 24px;
      border-radius: 0;
      background: $white;
    }
  }
  .review-list {
    padding: 20px;
    margin-top: 40px;
    border-radius: 6px;
    border: 1px solid $gray-30;
    @include tablet {
      padding: 24px 16px;
      margin-top: 0;
      border-radius: 0;
      border: 0;
    }
    &__header {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $gray-30;
      @include tablet {
        padding: 4px 0 8px;           
      }
    }
    &__summary {
      color: $gray-80;
      font-size: 18px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -0.18px;
      @include tablet {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0;
      }
    }
    &__items {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  .review-item {
    display: flex;
    flex-direction: column;
    gap: 20px;       
    @include tablet {
      gap: 8px;
      padding-bottom: 16px;
      border-bottom: 1px solid $gray-30;
    }
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      border-radius: 6px;
      background: $gray-5;
      @include tablet {
        padding: 0;
        border-radius: 0;
        background: $white;
      }
    }
    &__status {
      display: inline-block;      
      color: $gray-80;
      font-size: 16px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.16px;
      @include tablet {
        padding-right: 4px;
        color: $grayscale-800;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }
      &::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 15px;
        margin: 0 10px;
        background: $grayscale-200;
        vertical-align: middle;
        @include tablet {
          display: none;
        }
      }
    }
    &__date {
      color: $gray-80;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.14px;
      @include tablet {
        color: $grayscale-500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }
    }
    &__footer {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: space-between;
      .list {
        li {
          color: $gray-70;
        }
      }
      .btn {
        flex-shrink: 0;
      }
    }
  }
  .btn-wrap {
    @include tablet {
      padding: 0 16px;
    }
  }
}
// 회원정보 관리
.pw-confirm {
  padding: 24px;
  &__title {
    margin-bottom: 8px;
    color: $gray-80;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    @include tablet {
      margin-bottom: 4px;
    }
  }
  &__desc {
    color: $gray-70;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  &__content {
    margin-top: 20px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid $gray-30;
    @include tablet {
      margin-top: 24px;
      padding: 0;
      border-radius: 0;
      border: 0;
    }
  }
}
.profile-edit {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include tablet {
    gap: 0;
  }
  &__content {
    padding: 20px;
    border-radius: 6px;
    border: 1px solid $gray-30;
    @include tablet {
      padding: 24px;
      border-radius: 0;
      border: 0;
    }
    .form {
      gap: 20px;
    }
    .terms {
      gap: 16px; 
      @include tablet {
        padding: 0;
      }
      &__title {
        color: $gray-80;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
      .terms__sub {
        flex-direction: row;
      }
    }
  }
}
// sns 계정 연동
.social-connect {
  @include tablet {
    padding: 40px 24px 24px;
  }
  .sns-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 20px 0;
    @include tablet {
      padding: 0 0 40px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      @include tablet {
        width: 100%;
      }
      &.is-linked {
        .sns-list__icon {
          border-color: $gray-80;
          background-color: $white;
          &::after {
            filter: none;
          }
          &--naver {
            &::after {
              @include bgimage('icon_naver', 'svg');
            }
          }
          &--kakao {
            &::after {
              @include bgimage('icon_kakao', 'svg');
            }
          }
        }
      }
    }
    &__icon {
      position: relative;
      width: 160px;
      height: 120px;
      border-radius: 6px;
      background-color: $grayscale-75;
      border: 1px solid $gray-30;
      @include tablet {
        width: 100%;
      }
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        filter: grayscale(100%);
      }
      &--naver {
        &::after {
          @include bgimage('icon_naver_gray', 'svg');
        }
      }
      &--kakao {
        &::after {
          @include bgimage('icon_kakao_gray', 'svg');
        }
      }
    }
    .btn {
      width: 100%;
    }
  }
  .notice {
    &__title {
      margin-bottom: 4px;
      color: $gray-80;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }
    .list {
      li {
        color: $gray-70;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
}
// 나의 체형
.body-type {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include tablet {
    gap: 0;
    flex: 1;
  }
  .intro {
    @include tablet {
      padding: 24px;
    }
    &__name {
      margin-bottom: 8px;
      color: $gray-80;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
    &__text {
      color: $gray-70;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  // 체형 정보
  .info {
    padding: 20px;
    border-radius: 6px;
    border: 1px solid $gray-30;
    @include tablet {
      padding: 24px 24px 0;
      border-radius: 0;
      border: 0;
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding-bottom: 20px;
      border-bottom: 1px solid $gray-30;
      color: $gray-80;
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      @include tablet {
        padding-bottom: 8px;
        border-bottom: 0;
      }
      &::before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        @include bgimage('icon_ruler', 'svg');
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;
      @include tablet {
        gap: 16px;
        margin-top: 0;
      }
      .radio-group {
        @include tablet {
          display: grid;
          grid-template-columns: repeat(4, minmax(0, 1fr));
        }
      }
    }
  }
  // 정보 수집 동의
  .agree {
    @include tablet {
      padding: 0 24px;
    }
    &__list {
      padding: 8px 16px;
      border-radius: 6px;
      background: $gray-10;
    }
    &__item {
      color: $gray-70;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
    .accordion__item {
      border-bottom: 0;
    }
  }
  // 쿠폰
  .coupon-group {
    padding: 40px 0;
  }
  .coupon {
    display: flex;
    justify-content: center;
    &__link {
      display: flex;
    }
    &__label {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 65px;
      border-radius: 15px 0 0 15px;
      background-color: #00883E;
      color: $white;
      font-family: $font-en;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.9px;
      writing-mode: sideways-lr;
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: -10px;
        top: 50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $white;
        transform: translateY(-50%);
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 12px;
      min-width: 245px;
      max-width: 245px;
      min-height: 120px;
      padding: 16px;
      border-radius: 0 15px 15px 0;
      border: 1px solid $gray-30;
      border-left: 0;
    }
    &__rate {
      color: #00883E;
      font-family: $font-en;
      font-size: 40px;
      font-weight: 700;
      line-height: 100%;
    }
    &__text {
      color: $gray-80;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  }
}
// 슈마커 페이
.shoemarker-pay {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include tablet {
    gap: 0;
    flex: 1;
  }
  .payment {
    padding: 20px;
    border-radius: 6px;
    border: 1px solid $gray-30;
    @include tablet {
      padding: 24px;
      border-radius: 0;
      border: 0;
    }
    &__title {
      margin-bottom: 10px;
      color: $gray-80;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      @include tablet {
        margin-bottom: 24px;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      padding: 10px 20px;
      border-radius: 8px;
      border: 1px solid $gray-30;
      @include tablet {
        padding: 0;
        border-radius: 0;
        border: 0;
      }
      .btn {
        @include tablet {
          height: 44px;
          padding: 12px 20px;
          border-radius: 6px;
          font-weight: 400;
        }
      }
      &.is-disabled {
        background: $gray-5;
        @include tablet {
          background: transparent;
        }
        .radio__label {
          color: $gray-50;
        }
        .payment__main {
          @include tablet {
            border-color: $gray-30;
            background: $gray-5;
          }
        }
      }
    }
    &__main {
      display: flex;
      align-items: center;
      gap: 10px;
      @include tablet {
        flex: 1;
        padding: 10px 16px;
        border-radius: 8px;
        border: 1px solid $gray-80;
      }
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid $gray-30;
    @include tablet {
      gap: 24px;
      padding: 24px;
      border-radius: 0;
      border: 0;
    }
    &__desc {
      color: $gray-80;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}
// 1:1 문의 내역 리스트
.qna {
  .filter {
    &__title {
      display: none;
      @include tablet {
        display: block;
        margin-bottom: 8px;
        color: $grayscale-900;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
      }
    }
    &__group {
      display: flex;
      align-items: center;
      gap: 20px;
      .radio-group {
        @include tablet {
          width: 100%;
        }
      }
      .date-range {
        flex: 1;
        @include tablet {
          width: 100%;
        }
      }
      @include tablet {
        align-items: start;
        flex-direction: column;
        gap: 12px;
      }
    }
    .list {
      margin-top: 12px;
      li {
        color: $gray-70;
      }
    }
  }
  .group {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid $gray-30;
    border-radius: 6px;
    @include tablet {
      padding: 0;
      border: 0;
      border-radius: 0;
    }
  }
  .count {
    padding-bottom: 20px;
    border-bottom: 1px solid $gray-30;
    @include tablet {
      padding-bottom: 8px;
    }
    &__text {
      color: $gray-80;
      font-size: 18px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -0.18px;
      @include tablet {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0;
      }
    }
  }
  .inquiry-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &.is-empty {
      align-items: center;
    }
  }
}
// 배송지 관리
.delivery-address {
  @include tablet {
    padding: 24px;
  }
  .delivery-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include tablet {
      gap: 8px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 20px;
      border-radius: 6px;
      border: 1px solid $gray-30;
      &.is-default {
        border-color: $gray-80;
      }
      @include tablet {
        padding: 16px;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      @include tablet {
        gap: 8px;
      }
    }
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__header {
      display: flex;
      align-items: center;
      gap: 10px;
      @include tablet {
        gap: 8px;
      }
    }
    &__name {
      color: $gray-80;
      font-size: 16px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.16px;
      @include tablet {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 15px;
      .btn-link {
        padding: 0;
      }
      @include tablet {
        gap: 4px;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    &__info-item {
      display: flex;
      gap: 4px;
      color: $gray-60;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.14px;
      &::before {
        content: '·';
      }
      @include tablet {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0;
      }
    }
    &__label {
      flex-shrink: 0;
      &::after {
        content: ':';
        padding-left: 4px;
      }
    }
  }
}
// 배송지 등록 레이어
.delivery-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid $gray-30;
  @include tablet {
    gap: 16px;
    padding: 0 8px;
    border-radius: 0;
    border: 0;
  }
  .pickup {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
// 1:1 문의 내역 등록
.qna-regist {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    border: 1px solid $gray-30;
    border-radius: 6px;
    @include tablet {
      padding: 24px;
      border: 0;
      border-radius: 0;
    }
  }
  &__title {
    margin-bottom: 10px;
    color: $gray-80;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    @include tablet {
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }
  }
  &__subtitle {
    margin-bottom: 4px;
    color: $gray-80;
    font-size: 13px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.13px;
    @include tablet {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0;
    }
  }
  .image {
    .btn {
      margin-bottom: 16px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;
      @include tablet {
        margin-bottom: 8px;
        gap: 8px;
      }
    }
    &__item {
      position: relative;
      overflow: hidden;
      width: 128px;
      height: 128px;
      aspect-ratio: 1 / 1;
      border-radius: 8px;
      @include tablet {
        width: 80px;
        height: 80px;
      }
      .btn-icon--delete {
        position: absolute;
        right: 8px;
        top: 8px;
        z-index: 1;
        @include tablet {
          right: 4px;
          top: 4px;
          width: 16px;
          height: 16px;
        }
        .btn-icon__icon {
          @include tablet {
            width: 16px;
            height: 16px;
            background-size: cover;
          }
        }
      }
    }
  }
  .reply {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .inquiry-regist__title {
      margin-bottom: 0;
    }
    .radio-group {
      gap: 12px;
    }
    &__modify {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &__modify-text {
      color: $gray-60;
      font-size: 13px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.13px;
      @include tablet {
        padding-left: 0;
        color: $gray-70;
        font-size: 11px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0;
      }
      &::before {
        content: '·';
        display: inline-block;
        padding-right: 4px;
        @include tablet {
          display: none;
        }
      }
    }
  }
}
// 상품 Q&A 리스트
.product-qna {
  .btn-wrap {
    margin-top: 20px;
    @include tablet {
      margin-top: 24px;
    }
  }
}
// 상품 Q&A 상품 조회 모달
.product-search {
  padding: 0 0 20px;
  @include tablet {
    padding: 4px 8px 0;
  }
  .order-card__date {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-30;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
  }
  .order-group {
    & + .order-group {
      margin-top: 20px;
    }
  }
}